<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register Product</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-light">

<!-- Navigation bar -->
<div th:insert="~{navbar :: navigation}" class="nav-wrapper"></div>

<!-- Page content -->
<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow w-50">
    <div class="card-header bg-primary text-white text-center">
      <h5>Visualizar cliente</h5>
    </div>
    <div class="card-body">
      <form th:action="@{/visualizar-cliente}" method="post" th:object="${visualizarClienteDTO}">

        <div class="mb-3">
          <label for="cliente_id" class="form-label">ID</label>
          <input th:field="*{id}" type="number" class="form-control" id="cliente_id" name="cliente_id" disabled />
        </div>

        <div class="mb-3">
          <label class="form-label">Status</label>
          <input type="text" class="form-control"
                 th:value="${visualizarClienteDTO.ativo ? 'Ativo' : 'Inativo'}" disabled />
        </div>

        <div class="mb-3">
          <label for="cliente_name" class="form-label">Client name</label>
          <input th:field="*{nome}" type="text" class="form-control" id="cliente_name" name="cliente_name" disabled />
        </div>

        <div class="mb-3">
          <label for="cliente_cpf" class="form-label">CPF number</label>
          <input th:field="*{cpf}" type="text" class="form-control" id="cliente_cpf" name="cliente_cpf" disabled/>
        </div>

        <div class="mb-3">
<!--          <label for="cliente_birthday" class="form-label">Birthday</label>-->
<!--          <input th:field="*{dataNascimento}" type="date" class="form-control" id="cliente_birthday" name="cliente_birthday" disabled />-->
<!--          <span th:text="${#temporals.format(viewClientDTO.dataNascimento, 'dd/MM/yyyy')}"></span>-->
          <label class="form-label">Birthday</label>
          <input th:value="${#temporals.format(visualizarClienteDTO.dataNascimento, 'dd/MM/yyyy')}" type="text" class="form-control" disabled>
        </div>

        <div class="mb-3">
          <label for="cliente_telephone" class="form-label">Cellphone</label>
          <input th:field="*{telefone}" type="tel" class="form-control" id="cliente_telephone" name="cliente_telephone" disabled />
        </div>

        <div class="mb-3">
          <label for="cliente_email" class="form-label">Email</label>
          <input th:field="*{email}" type="email" class="form-control" id="cliente_email" name="cliente_email" disabled />
        </div>


        <div class="text-center mt-4">
          <button type="submit" class="btn btn-success" disabled>Save</button>
          <a th:href="@{/clientlist}" class="btn btn-secondary ms-2">Cancel</a>
        </div>

        <div th:if="${param.error}" class="alert alert-danger" role="alert">
          <span class="mensagem">Error to view client</span>
        </div>

        <div th:if="${param.success}" class="alert alert-info" role="alert">
          <span class="mensagem">Cliente has been viewed successfully</span>
        </div>

      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
